<ng-container *ngIf="!hasAccess">
  <h1 class="mat-headline-4">🔒 Entrez le code de sécurité</h1>
  <div style="display: block">
    <code-input [isCodeHidden]="true"
                [codeLength]="4"
                (codeCompleted)="onCodeCompleted($event)">
    </code-input>
  </div>
</ng-container>

<ng-container *ngIf="hasAccess">
  <h1>👋 Welcome Momo !</h1>

   <nav mat-tab-nav-bar [tabPanel]="tabPanel">
 <a mat-tab-link [routerLink]="['locations']" mtTabLink routerLinkActive>Emplacements</a>
  <a mat-tab-link [routerLink]="['parcels']" mtTabLink routerLinkActive>Colis</a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
</ng-container>
