<ng-container *ngIf="!hasAccess">
  <h1 class="mat-headline-4">🔒 Entrez le code de sécurité</h1>
  <div style="display: block">
    <code-input [isCodeHidden]="true"
                [codeLength]="4"
                (codeCompleted)="onCodeCompleted($event)">
    </code-input>
  </div>
</ng-container>

<ng-container *ngIf="hasAccess">
  <h1>👋 Welcome Momo !</h1>
  <mat-tab-group style="width: 100%; height: 100%">
    <mat-tab label="Emplacements">
      <div class="card-container">
        <mat-card appearance="outlined" *ngFor="let location of locations$ | async; index as i">
          <mat-card-header>
            <mat-card-title>{{location.name}}</mat-card-title>
            <mat-card-subtitle>{{location.numberOfParcels}} colis</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button>Editer</button>
            <button mat-button color="warn" (click)="remove(location)">Supprimer</button>
          </mat-card-actions>
        </mat-card>
        <button class="add-card" mat-raised-button color="accent" (click)="addLocation()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Colis">

    </mat-tab>
  </mat-tab-group>
</ng-container>
