<h1>Résultat de la recherche: "{{searchTerms}}"</h1>
<ng-container *ngIf="parcels$ | async as parcels">
  <ng-container *ngIf="!parcels.length">

  </ng-container>
  <div *ngIf="parcels.length" class="content">
    <div class="result-count">
      {{parcels.length}} colis
    </div>

    <div class="card-container">
      <ul>
        <li *ngFor="let parcel of parcels; trackBy: identify">
          {{parcel.recipient.lastName}} - Arrivé le {{parcel.receivedAt | date}}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
