.full-width {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.context {
  margin-bottom: 1em;
}

form {
  margin-bottom: 3em;
}

.time {
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
  right: 0;
}

.no-data {
  pointer-events: none;
}
