<div class="camera-container" [style.display]="!captured && mediaStream ? 'block' : 'none'" (click)="captureImage()">
  <video #videoElement></video>
  <div class="recognition-rectangle"></div>
  <canvas #canvasElement width="640" height="480" style="display:none;"></canvas>
</div>

<mat-spinner  *ngIf="captured && scanning"></mat-spinner>

<div style="position: relative;" *ngIf="captured && !scanning">
  <img src="{{imageWithHighlights}}" #capturedImage (load)="onImageLoad()">
  <div id="overlay-container" style="position: absolute; top: 0; left: 0;"></div>
  <button (click)="cancelImage()" class="fab-button gray" mat-fab *ngIf="captured">
  <mat-icon>close</mat-icon>
</button>
</div>
<form [formGroup]="parcelForm" (ngSubmit)="addParcel()" novalidate #form="ngForm">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label class="w-full">Taille du colis</mat-label>
       <input style="display: none" formControlName="size" matInput />
      <mat-button-toggle-group matInput class="w-full" formControlName="size">
        <mat-button-toggle value="small">Petit</mat-button-toggle>
        <mat-button-toggle value="medium">Moyen</mat-button-toggle>
        <mat-button-toggle value="large">Grand</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-form-field>

    <mat-form-field class="w-full flex flex-row justify-center mx-auto" floatLabel="always">
      <input style="display: none" matInput />
      <mat-label class="w-full">Numéro du colis</mat-label>
      <div class="w-full flex flex-col justify-center items-center">
        <div class="big flex flex-col justify-center items-center">{{bestLocation?.shortName}}{{uniqNumber}}</div>
      </div>
    </mat-form-field>


    <button mat-raised-button type="submit" color="primary">Enregistrer</button>
  </form>
