<div class="camera-container" [style.display]="!captured && mediaStream ? 'block' : 'none'">
  <video #videoElement></video>
  <div class="recognition-rectangle"></div>
  <canvas #canvasElement width="640" height="480" style="display:none;"></canvas>
</div>

<button (click)="captureImage()" class="fab-button" mat-fab color="primary" *ngIf="!captured">
  <mat-icon>photo_camera</mat-icon>
</button>

<button (click)="cancelImage()" class="fab-button" mat-fab *ngIf="captured">
  <mat-icon>close</mat-icon>
</button>

<div style="position: relative;" *ngIf="captured">
  <img src="{{imageWithHighlights}}" #capturedImage (load)="onImageLoad()">
  <div id="overlay-container" style="position: absolute; top: 0; left: 0;"></div>
</div>
