    <h1 mat-dialog-title>Ajouter un emplacement</h1>
    <form [formGroup]="addForm" (ngSubmit)="add()">
      <mat-dialog-content>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombre de colis</mat-label>
          <input type="number" matInput formControlName="numberOfParcels" />
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button>Annuler</button>
        <button type="submit" mat-raised-button color="primary">Ajouter</button>
      </mat-dialog-actions>
    </form>
