    <h1>Editer un emplacement</h1>
    <form [formGroup]="editForm" (ngSubmit)="update()">
      <mat-form-field>
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
         <mat-form-field>
          <mat-label>Lettre d'identification</mat-label>
          <input type="text" matInput formControlName="shortName" />
        </mat-form-field>
        <ng-container formGroupName="capacity">
          <mat-form-field>
          <mat-label>Nombre de petits colis</mat-label>
            <input type="number" matInput formControlName="small" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre de colis moyens</mat-label>
            <input type="number" matInput formControlName="medium" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre de grands colis</mat-label>
            <input type="number" matInput formControlName="large" />
          </mat-form-field>
        </ng-container>

        <button mat-button>Annuler</button>
        <button type="submit" mat-raised-button color="primary">Enregistrer</button>
    </form>
